@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-bounce-delay-1 {
    animation: bounce 1s infinite;
    animation-delay: 0.1s;
  }
  
  .animate-bounce-delay-2 {
    animation: bounce 1s infinite;
    animation-delay: 0.2s;
  }
}
